@font-face {
  font-family: "Roboto Regular";
  src: url(fonts/Roboto.ttf);
}
@font-face {
  font-family: "Roboto Bold";
  src: url(fonts/Robotobold.ttf);
}
@font-face {
  font-family: "Roboto Medium";
  src: url(fonts/Robotomedium.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  margin: 0;
  font-family: "Roboto Regular", serif;
}
body._lock {
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
.header {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-body {
  display: flex;
  justify-content: space-between;
}
.menu-content {
  display: flex;
  justify-content: space-between;
}
.logo {
  /* margin-right: 180px; */
}
.menu-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 50px;
}
.menu-icon {
  display: none;
}
.menu-item {
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  color: #030305;
  margin-right: 97px;
}
.profile {
  display: flex;
  align-items: center;
}
.profile span {
  font-size: 15px;
  line-height: 18px;
  color: #030305;
  font-family: "Roboto Medium", serif;
  margin-right: 12px;
}

.main {
  margin-top: 51px;
}
.main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-info {
  max-width: 588px;
}
.main-brand {
  font-family: "Roboto Medium", serif;
  font-size: 20px;
  line-height: 23px;
  color: #030305;
}
.main h1 {
  font-family: "Roboto Bold", serif;
  font-size: 100px;
  line-height: 117px;
  color: #030305;
  margin-top: 6px;
  margin-bottom: 40px;
}
.main-text {
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 60px;
}
.button {
  font-family: "Roboto Medium", serif;
  border: 1px solid #030305;
  background: #030305;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border-radius: 50px;
  padding: 20px 45px;
  cursor: pointer;
  outline: 0;
}
.button.btn-transparent {
  background: transparent;
  color: #030305;
}
.main .button.btn-transparent {
  margin-left: 24px;
}

.advantages {
  margin-top: 101px;
}
.advantages .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.advantages-items {
  max-width: 536px;
}
.advantages-item {
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 60px;
}
.advantages-item:last-child {
  margin: 0;
}

.order {
  margin-top: 99px;
  text-align: center;
}
.order-title {
  font-size: 70px;
  line-height: 82px;
  color: #030305;
  font-family: "Roboto Bold", serif;
  margin-bottom: 60px;
}
.order form {
  display: flex;
  flex-direction: column;
  max-width: 275px;
  margin: 0 auto;
}
.order-input {
  font-size: 17px;
  line-height: 20px;
  color: #030305;
  border: 1px solid #878787;
  border-radius: 50px;
  padding: 20px 37px;
  margin-bottom: 15px;
}

.footer {
  margin-top: 110px;
  border-top: 1px solid #e5e5e5;
  padding: 25px 0;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer span {
  font-size: 12px;
  line-height: 14px;
  color: #878787;
}

@media (max-width: 1200px) {
  .container {
    max-width: 670px;
  }
  .logo {
    margin-right: 60px;
  }
  .actions {
    display: flex;
    flex-direction: column;
  }
  .menu-item {
    margin-right: 10px;
  }
  .main .button {
    margin-bottom: 20px;
    width: 196px;
  }
  .main .button.btn-transparent {
    margin: 0;
    width: 227px;
  }
  .advantages .container {
    display: flex;
    flex-direction: column;
  }
  .advantages-item {
    text-align: center;
  }
  .footer .container {
    flex-direction: row;
  }
  .order-title {
    font-size: 60px;
  }
}
@media (max-width: 640px) {
  .menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu-icon span,
  .menu-icon::before,
  .menu-icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .menu-icon::before,
  .menu-icon::after {
    content: "";
  }
  .menu-icon::before {
    top: 0;
  }
  .menu-icon::after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu-icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu-icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu-icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu-body {
    position: fixed;
    top: 0;
    left: -200%;
    width: 100%;
    height: 100%;
    background-color: #9f9f9f;
    justify-content: flex-end;
    transition: left 0.3s ease 0s;
    flex-direction: column-reverse;
    padding-left: 30px;
    padding-top: 40px;
  }
  .menu-list {
    display: block;
  }
  .menu-list > li {
    margin-bottom: 15px;
  }
  .profile {
    margin-bottom: 20px;
  }
  .menu-body._active {
    left: 0;
  }
  .container {
    flex-direction: column;
  }
  .main-image {
    margin-top: 20px;
  }
  .main-info h1 {
    font-size: 50px;
    text-align: center;
  }
  .img {
    height: auto;
    width: 100%;
  }
  .button {
    /* margin: 0 auto; */
  }
  .actions {
    align-items: center;
  }
  .button.btn-transparent {
    display: block;
    margin: 0 auto;
  }
}
